.filterPop {
  border-bottom: 0.063rem solid #d3d3d3;

  // remove border-radius
  :global(.ant-checkbox-inner) {
    border-radius: 0rem;
  }

  // add checkbox bg color
  :global(
      .ant-checkbox-checked:not(.ant-checkbox-disabled) .ant-checkbox-inner
    ),
  :global(
      .ant-checkbox-wrapper-checked:not(.ant-checkbox-wrapper-disabled):hover
        .ant-checkbox-inner
    ),
  :global(
      .ant-checkbox-checked:not(.ant-checkbox-disabled):hover
        .ant-checkbox-inner
    ) {
    background-color: #610bef !important;
    border-color: #610bef !important;
  }

  // remove and add new check-box border
  :global(.ant-checkbox-checked:after) {
    border-color: #610bef !important;
  }

  //change select box icon color
  :global(.ant-select .ant-select-arrow) {
    color: #14142b;
    font-weight: 500;
  }

  // remove radius from selector
  :global(.ant-select-selector) {
    border-radius: 0;
  }
}

:global(.ant-select-dropdown) {
  z-index: 111111;
}

// make responsive popover
:global(.ant-popover) {
  @media only screen and (max-width: 668px) {
    left: 0.625rem !important;
  }
}

// add box shadow
:global(.ant-popover .ant-popover-inner) {
  border-radius: 0rem;
  box-shadow: 0 0.375rem 1rem 0 rgba(0, 0, 0, 0.1),
    0 0.188rem 0.375rem -0.25rem rgba(0, 0, 0, 0.1),
    0 0.563rem 1.75rem 0.5rem rgba(0, 0, 0, 0.1);
  @media only screen and (max-width: 668px) {
    padding: 0.75rem 0;
  }
}

// make style on popover buttons
:global(.ant-popconfirm-buttons) {
  // display: none;
  padding: 0.75rem 0.5rem;
  :global(.ant-btn-default) {
    color: #2c57f5;
    border: 0.063rem solid #2c57f5;
    background-color: #fff;
    padding: 0rem 0.625rem;
    border-radius: 0;
    width: 3.75rem;
    height: 1.813rem;
    font-weight: 500;
    font-size: 0.75rem;
  }

  :global(.ant-btn-primary) {
    background-color: #2c57f5;
    color: #fff;
    border-radius: 0;
    width: 3.75rem;
    height: 1.813rem;
    font-weight: 500;
    font-size: 0.75rem;
  }
}

// custom footer
:global(.footer_filter .ant-btn-default) {
  color: #2c57f5;
  border: 0.063rem solid #2c57f5;
  background-color: #fff;
  padding: 0rem 0.625rem;
  border-radius: 0;
  width: 3.75rem;
  height: 1.813rem;
  font-weight: 500;
  font-size: 0.75rem;
}

:global(.footer_filter .ant-btn-primary) {
  background-color: #2c57f5;
  color: #fff;
  border-radius: 0;
  width: 3.75rem;
  height: 1.813rem;
  font-weight: 500;
  font-size: 0.75rem;
}
