.filterPop {
    border-bottom: 1px solid #D3D3D3;
}

:global(.ant-popconfirm-buttons) {
    padding: 8px 0;

    :global(.ant-btn-default) {
        color: #2C57F5;
        border: 1px solid #2C57F5;
        background-color: #fff;
        padding: 0px 10px;
        border-radius: 0;
        width: 60px;
        height: 29px;
        font-weight: 500;
        font-size: 12px;
    }

    :global(.ant-btn-primary) {
        background-color: #2C57F5;
        color: #fff;
        border-radius: 0;
        width: 60px;
        height: 29px;
        font-weight: 500;
        font-size: 12px;
    }
}