.busketPop {
  width: 800px !important;
  :global(.ant-layout header::-webkit-scrollbar) {
    appearance: none;
  }
  :global(.ant-modal-close) {
    display: none;
  }
  :global(.ant-modal-content) {
    padding: 0;
  }
  :global(.ant-layout-header) {
    height: 12px;
    line-height: 12px;
  }
  :global(.ant-modal-footer) {
    display: none;
  }
  :global(.ant-tag) {
    color: black;
    font-weight: 700;
    border-radius: 0;
  }
  :global(.ant-table-cell) {
    padding: 6px 10px !important;
  }
  :global(.ant-table-thead > tr > th) {
    background: #ffffff;
    font-weight: normal;
    padding: 16px 10px !important;
  }
  :global(.ant-table-thead > tr > th::before) {
    width: 0px !important;
  }
  :global(.ant-table-tbody > tr:nth-child(even)) {
    background: #f9f9f9;
    border-color: transparent;
  }
  :global(.ant-table-tbody > tr:nth-child(odd)) {
    background: #ffffff;
    border-color: transparent;
  }
  :global(.ant-table-content) {
    height: 40vh;
    max-height: 40vh;
    overflow-y: scroll !important;
  }
  :global(.ant-table-content::-webkit-scrollbar) {
    appearance: none;
  }
  :global(.busket_header .ant-row) {
    flex-flow: inherit;
  }
}
:global(.ant-modal-mask) {
  background-color: transparent !important;
}
:global(.ant-scroll-number-only-unit) {
  font-weight: 500;
}
:global(.busket_header::-webkit-scrollbar) {
  appearance: none;
}
:global(.busket_header) {
  padding-bottom: 0rem;
}
